.items-box-content.clearfix
  - @brand_items.each do |brand_item|
    %section.items-box
      = link_to item_path(brand_item.id) do
        .trim
          - if brand_item.item_images.present?
            = image_tag brand_item.item_images.first.image
          - else
            = image_tag (asset_path "noimage.gif")
        .items-box-body
          .items-box-name
            = brand_item.name
          .items-box-num
            .items-box-price
              = number_to_currency(brand_item.price, locale: 'jp')
            .items-box-likes
              = fa_icon 'heart-o'
              %span 0
            .item-box-tax (税込)
